@model Mvc5WebApp.UI.ViewModels.People.PeopleViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>PhoneNumber</th>
    </tr>
@foreach (var item in @Model.People)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |            
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        <td><span>@item.ID</span></td>
        <td><span>@item.Name</span></td>
        <td><span>@item.PhoneNumber</span></td>
    </tr>

}
</table>
